.follow {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 4;
  transition: background-color 1s;
  &.big {
    background-color: #A554FF;
  }
}
