#endText {
  width: 100%;
  height: 100%;
  section {
    width: 70%;
    display: none;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    &.visible{
      display: flex;
    }
  }
}
