@font-face {
  font-family: "Calyces";
  src: url("../fonts/Calyces-Regular.otf");

}

@font-face {
  font-family: "CalycesBold";
  src: url("../fonts/Calyces-Bold.otf");
}

@font-face {
  font-family: "Asul";
  src: url("../fonts/Asul-Regular.ttf");

}

@font-face {
  font-family: "AsulBold";
  src: url("../fonts/Asul-Bold.ttf");
}

html {
  cursor: none;
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $black-color;
  }
  p {
    font-family: Asul, sans-serif;
    color: #fff;
  }
  a{
    cursor: none;
  }
  p.title {
    font-family: Calyces, sans-serif;
  }
  #blocker, .buttonContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #ui {
    position: absolute;
    width: 100%;
    height: 100%;

    #textContainer {
      height: 72%;
      z-index: 2;
      .text {
        position: relative;
        height: 100%;

        #buttonContainer {
          height: 50px;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: 40px;
          .button {
            cursor: none;
            color: #fff;
            background: transparent;
            border-radius: 30px;
            font-size: 1.2em;
            position: relative;
            padding:8px;
            &:hover::after{
              width:100%;
            }
            &::after {
              transition: all 0.5s;
              content: "";
              position: absolute;
              height: 1px;
              left: 0;
              right: 0;
              width: 20%;
              background-color: #fff;
              margin: 0 auto;
              bottom: -3px;
            }
          }
        }
      }
      #introText {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 2em;
        p {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          opacity: 0;
          transition: opacity 1.5s;
          &.visible {
            opacity: 1;
          }
        }
      }
    }

  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonContainer {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
  }

  .button {
    text-align: center;
    font-size: 32px;
  }

  #uiText {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    padding-left: 20%;
    padding-right: 20%;
    color: #fff;
    font-family: Calyces, sans-serif;
  }

}
