@font-face {
  font-family: "Calyces";
  src: url("../fonts/Calyces-Regular.otf");

}

@font-face {
  font-family: "CalycesBold";
  src: url("../fonts/Calyces-Bold.otf");
}

@font-face {
  font-family: "Asul";
  src: url("../fonts/Asul-Regular.ttf");

}

@font-face {
  font-family: "AsulBold";
  src: url("../fonts/Asul-Bold.ttf");
}

html {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $black-color;
  }
  p {
    font-family: Asul, sans-serif;
  }
  p.title {
    font-family: Calyces, sans-serif;
  }
  #blocker, #loader, .buttonContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #ui {
    position: absolute;
    width: 100%;
    height: 100%;
    header {
      color: #fff;
      height: 140px;
      font-family: sans-serif;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      .container {
        width: 95%;
        margin: 0 auto;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          width: 60px;
          cursor: pointer;
          .nextprev {
            position: relative;
            text-transform: uppercase;
            font-size: 0.5em;
          }
          #prev {
            text-align: left;
          }
          #prev::after {
            position: absolute;
            width: 30px;
            height: 1px;
            left: -40px;
            top: 50%;
            background: #fff;
            content: "";
            display: block;
          }
          #next {
            text-align: right;
          }
          #next::after {
            position: absolute;
            width: 35px;
            height: 1px;
            right: -55px;
            top: 50%;
            background: #fff;
            content: "";
            display: block;
          }
        }
      }
    }
    #textContainer {
      height: 420px;
      margin-bottom: 20px;
      z-index: 2;
      #fullscreenText {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 2em;
        color: #fff;
      }

      #verticalCaroussel {
        height: 100%;
        .mask {
          height: 100%;
          width: 100%;
          position: relative;
          overflow: hidden;
          nav {
            display: flex;
            align-items: center;
            height: 100%;
            float: right;

            ul {
              list-style: none;
              position: fixed;
              right: 20px;
              li {
                background: #432F54;
                margin-bottom: 20px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
              }
            }
          }

          .container {
            height: 100%;
            width: 100%;
            position: absolute;
            section {
              height: 100%;
              width: 100%;
              font-size: 2em;
              color: #fff;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              p {
                width: 70%;
                margin: 0 auto;
                text-align: center;
                &.title {
                  letter-spacing: 3px;
                  margin-bottom: 30px;
                }
                &.secondary {
                  font-size: 0.5em;
                  letter-spacing: 1px;
                }
              }

            }
          }
        }
      }
      #filter {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        .carousel-wrapper {
          width: 100%;
          height: 100%;
          overflow: hidden;
          * {
            box-sizing: border-box;
          }
          .carousel {
            span {
              width: 110px;
              height: 110px;
              position: absolute;
              background-color: rgba(255, 255, 255, 0.5);
              border-radius: 50%;
              border: 2px solid #fff;
              bottom: 80px;
              transition: transform .5s, opacity .5s, z-index .5s;
              &.prev {
                left: 20px;
              }
              &.next {
                right: 20px;
              }
            }

          }
        }

      }
      #hypersex {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        #photo {
          width: 110px;
          height: 110px;
          right: 200px;
          position: absolute;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          border: 2px solid #fff;
          bottom: 80px;
          transition: transform .5s, opacity .5s, z-index .5s;
        }
      }

    }
    #buttonContainer {
      height: 50px;
      margin-bottom: 20px;

      .button {
        cursor: pointer;

        background: transparent;
        border-radius: 30px;
        padding: 15px 35px 15px;
        font-size: 1.2em;
        border: #fff solid 1px;
        color: #fff;
      }
    }

    footer {
      height: 200px;
    }
  }

  #loader {
    background-color: rgba(0, 0, 0, 1);
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonContainer {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
  }

  .button {
    text-align: center;
    font-size: 32px;
  }

  #uiText {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    padding-left: 20%;
    padding-right: 20%;
    color: #fff;
    font-family: Calyces, sans-serif;
  }

  #instructions, #loadingInfos {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    cursor: pointer;
  }

}
