#textTemplate {
  display: none;
}

#maskText {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 1.5s;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

#verticalCaroussel {
  height: 100%;
  .leaveCarousel {
    text-align: center;
    position: relative;
    cursor: none;
  }
  .mask {
    height: 90%;
    width: 100%;
    position: relative;
    overflow: hidden;
    nav {
      display: flex;
      align-items: center;
      height: 100%;
      float: right;

      ul {
        opacity: 0;
        list-style: none;
        position: fixed;
        right: 20px;
        transition: opacity 5s;

        &.visible {
          opacity: 1;
        }
        li {
          background: #432F54;
          margin-bottom: 20px;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          transition: all 1.5s;
          &.active {
            background: #fff;
          }
        }
      }
    }

    .container {
      height: 100%;
      width: 100%;
      position: absolute;
      section {


        &.half {
          width: 50%;
        }

        &.left {
          left: 0;
        }

        &.right {
          right: 0;
        }

        height: 100%;
        width: 100%;
        font-size: 1.5vw;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        p {
          width: 70%;
          margin: 0 auto;
          transform: translate(0, 30px);
          transition: opacity 3s, transform 1.5s;
          opacity: 0;

          &.primary {
            margin-bottom: 30px;
            font-size: 2vw;
            display: inline-block;
            position: relative;
            color: white;
            font-weight: bold;
          }


          &.title {
            letter-spacing: 3px;
            margin-bottom: 30px;
          }
          &.secondary {
            font-size: 0.6em;
            letter-spacing: 1px;
            margin-bottom: 1.6em;
            line-height: 1.5em;
          }
          &.intro {
            font-size: 2vw;
            letter-spacing: 1px;
            margin-bottom: 30px;
            text-align: center;
          }
          &.visible {
            opacity: 1;
            transform: translate(0, 0);
          }
        }

      }
    }
  }
}
